<div>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p>Nice to see you again!</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Log In</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
